{% load static %}
<div class="container" id='about-us'>

        <div class="row">
            <div class="col-md-6">

                <h3 class="heading-primary"><strong>Who</strong> We Are</h3>
                <p><strong>BW Accelerate </strong>is a business accelerate initiative built on thousands of
                    hours of knowledge & intelligence acquired through participative partnership with
                    businesses. A multi city business accelerate initiative, BW Accelerate has impacted hundreds
                    of business, large & small, through constant support required for growth and scale.


                </p>

                <p>With a sharp focus towards creating sustainable business growth, Empowering aspirants,
                    seasoned start-up’s, and other businesses, BW Accelerate has created robust infrastructure
                    and strong ecosystem partnerships to continue to deliver long term value for businesses. BW
                    Accelerate consistently works to create a deeper impact through the business ecosystem and
                    economy at large.</p>
            </div>
            <div class="col-md-6">

                <div class="box-content" style="margin-top:50px;">
                    <iframe width="418" height="350" src='{% static "video/PU-VSS-VIRTUAL-TOUR.mp4" %}' frameborder="0" allowfullscreen></iframe>
                </div>

            </div>
        </div>

        <br />

    </div>