{% load static %}
<div class="container" id='about-us'>

    <div class="row">
        <div class='center'>
            <h3 class="heading-primary"><strong>About</strong> us</h3>
            <p><span style="font-size: 1.5em ;">An unique initiative which connects Entrepreneurs, Investors and
                    Business Experts.</span></p>
        </div>
    </div>

    <div class='row'>
        <div class='center'>

            <div class="box-content" style="margin-top:50px;">
                <iframe width="700" height="590" src='{% static "video/PU-VSS-VIRTUAL-TOUR.mp4" %}' frameborder="0"
                    allowfullscreen></iframe>
            </div>

        </div>
    </div>

    <br />

</div>
<div class="container" style="margin:10px auto 0;">

    <div class="row center">
        <div class="col-md-12">
            <h2 class="mb-lg">
                Our Story
            </h2>
        </div>
    </div>
    <div class="row text-justify">
        <div class='col-md-6'>
            <p>Parul University and Its commitment towards fostering the spirit of Innovation and Entrepreneurship,
                is joining hands with industry and academia to make Vadodara, the Startup and Innovation Hub of
                Central Gujarat, with Vadodara Startup Studio.</p>
            <p>Vadodara Startup Studio is an initiative of Parul Innovation And Entrepreneurship
                Research<br />Centre, registered under Section 8 of the companies Act 2013,  to accelerate
                the<br />Startup movement in central Gujarat.</p>
        </div>
        <div class="col-md 6">
            <p>Providing a vibrant ecosystem of Mentors, Industry connects, Quality<br />infrastructure, Investors,
                and Network,  Vadodara Startup Studio will be the most active incubation and acceleration facility
                in central Gujarat. </p>
            <p>The state of the art facility will have a seating capacity for 30+ startups &amp; 40+ Individuals out
                of this facility and will bring in Industry Icons, Mentors, Investors under one roof </p>
        </div>
    </div>

</div>