{% load static %}
<hr>
<div class="container" id='about-us'>

    <div class="row">
        <div class='center'>
            <h3 class="heading-primary" style="margin-bottom: 1%;"><strong>About</strong> us</h3>
            <p><span style="font-size: 1.5em ;">An unique initiative which connects Entrepreneurs, Investors and
                    Business Experts.</span></p>
        </div>
        <div class="row text-justify" style="font-family: 'Open Sans', Arial, sans-serif;
    font-size: 14px; padding-top:4%">
            <div class="row">
                <div class="col-sm-6">
                    <div class="feature-box">
                        <div class="feature-box-icon">
                            <i class="fa fa-arrow-right"></i>
                        </div>
                        <div class="feature-box-info">

                            <p class="tall">Parul University and Its commitment towards fostering the spirit of Innovation and Entrepreneurship,
                    is joining hands with industry and academia to make Vadodara, the Startup and Innovation Hub of
                    Central Gujarat, with Vadodara Startup Studio.</p>
                        </div>
                    </div>
                    <div class="feature-box">
                        <div class="feature-box-icon">
                            <i class="fa fa-arrow-right"></i>
                        </div>
                        <div class="feature-box-info">

                            <p class="tall">Vadodara Startup Studio is an initiative of Parul Innovation And Entrepreneurship
                    Research Centre, registered under Section 8 of the companies Act 2013,  to accelerate
                    the Startup movement in central Gujarat.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="feature-box">
                        <div class="feature-box-icon">
                            <i class="fa fa-arrow-right"></i>
                        </div>
                        <div class="feature-box-info">

                            <p class="tall">Providing a vibrant ecosystem of Mentors, Industry connects, Quality, Infrastructure, Investors,
                    and Network,  Vadodara Startup Studio will be the most active incubation and acceleration facility
                    in central Gujarat.</p>
                        </div>
                    </div>
                    <div class="feature-box">
                        <div class="feature-box-icon">
                            <i class="fa fa-arrow-right"></i>
                        </div>
                        <div class="feature-box-info">

                            <p class="tall">The state of the art facility will have a seating capacity for 30+ startups &amp; 40+ Individuals out
                    of this facility and will bring in Industry Icons, Mentors, Investors under one roof </p>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

    <div class='row'>
        <div class='center'>

            <div class="box-content" style="margin-top:50px;">
                <iframe width="60%" height="590em" src='{% static "img/PU-VSS-VIRTUAL-TOUR.mp4" %}' frameborder="0"
                    allowfullscreen></iframe>
            </div>

        </div>
    </div>

    <br />

</div>