{% load static %}
<hr>
<div class="container" id='contact-us'>
    <div class="row">
        <div class="col-md-6">

            <div class="alert alert-success hidden mt-lg" id="contactSuccess">
                <strong>Success!</strong> Your message has been sent to us.
            </div>

            <div class="alert alert-danger hidden mt-lg" id="contactError">
                <strong>Error!</strong> There was an error sending your message.
                <span class="font-size-xs mt-sm display-block" id="mailErrorMessage"></span>
            </div>
            
            <h2 class="mb-sm mt-sm"><strong>Contact</strong> Us</h2>
            <form id="contactForm" method="POST">
                {% csrf_token %}
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-6">
                            <label>Your name *</label>
                            <input type="text" value="" data-msg-required="Please enter your name." maxlength="100"
                                class="form-control" name="person_name" id="id_person_name" required>
                        </div>
                        <div class="col-md-6">
                            <label>Your email address *</label>
                            <input type="email" value="" data-msg-required="Please enter your email address."
                                data-msg-email="Please enter a valid email address." maxlength="100"
                                class="form-control" name="person_email_id" id="id_person_email_id" required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-12">
                            <label>Subject</label>
                            <input type="text" value="" data-msg-required="Please enter the subject." maxlength="100"
                                class="form-control" name="subject" id="id_subject" required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-12">
                            <label>Message *</label>
                            <textarea maxlength="5000" data-msg-required="Please enter your message." rows="10"
                                class="form-control" name="Message" id="id_Message" required></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <input type="submit" value="Send Message" class="btn btn-primary btn-lg mb-xlg"
                            data-loading-text="Loading...">
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-6">

            <h4 class="heading-primary mt-lg">Get in <strong>Touch</strong></h4>
            <p>Need an expert? you are more than welcomed to leave your contact info and we will be in touch
                shortly.</p>

            <hr>

            <h4 class="heading-primary">The <strong>Office</strong></h4>
            <ul class="list list-icons list-icons-style-3 mt-xlg">
                <li><i class="fa fa-map-marker"></i> <strong>Address:</strong> Vadodara Startup Studio,
                    Above Diva Hospital, VIP Road,
                    Karelibaug, Vadodara - 390018
                </li>
                <li><i class="fa fa-phone"></i> <strong>Phone:</strong> +91 9725125484</li>
                <li><i class="fa fa-envelope"></i> <strong>Email:</strong> <a
                        href="mailto:vss@paruluniversity.ac.in">vss@paruluniversity.ac.in</a></li>
            </ul>


        </div>
        <div class="col-md-6" style="margin-top: 10px;">
            <iframe  scrolling="no" marginheight="0" marginwidth="0" width="50%" height="130" frameborder="0" style="border:0" allowfullscreen
                    src="https://maps.google.com/maps?q=Diva%20Children%27s%20Hospital%2C%20Ranchhod%20Park%20Society%2C%20Saikrupa%20society%2C%20Karelibagh%2C%20Vadodara%2C%20Gujarat&amp;t=m&amp;z=13&amp;output=embed&amp;iwloc=near"
                    title="Diva Children&#039;s Hospital, Ranchhod Park Society, Saikrupa society, Karelibagh, Vadodara, Gujarat"
                    aria-label="Diva Children&#039;s Hospital, Ranchhod Park Society, Saikrupa society, Karelibagh, Vadodara, Gujarat"></iframe>

        </div>
    </div>

</div>