{% extends "./basic.html" %}

{% block title %}
Vadodara Startup Studio – Best Startup Incubator in Vadodara
{% endblock title %}
{% load static %}
{% block body %}
<div class="main">

    <div class="slider-container rev_slider_wrapper" style="width: 100%; margin: 0 0 -160px 0; padding: 0;">

        <div id="revolutionSlider" class="slider rev_slider" data-plugin-revolution-slider
            data-plugin-options='{"delay": 9000, "gridwidth": 1170, "gridheight": 500}'>

            <ul>
                <li data-transition="fade">
                    <img src="{% static 'img/back-img1.jpg' %} " alt="" data-bgposition="center center"
                        data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg">
                </li>

                <li data-transition="fade">
                    <img src="{% static 'img/back-img2.jpg' %} " alt="" data-bgposition="center center"
                        data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-ret>
                </li>

                <li data-transition="fade">
                    <img src="{% static 'img/back-img3.jpg' %} " alt="" data-bgposition="center center"
                        data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                </li>
            </ul>

        </div>

    </div>


    <div class="container"
        style="padding: 20px 0; position: relative; top:-35px; background:linear-gradient(90deg, rgba(205,51,51,0.2) 0%, rgba(205,51,51,0.8) 25%, rgba(205,51,51,0.8) 75%, rgba(205,51,51,0.2) 100%); width: 100%;">
        <div class="row">
            <div class="counters counters-text-light">
                <div class="col-md-3 col-sm-6">
                    <div class="counter">
                        <strong data-to="50">50</strong>
                        <label>STARTUPS INCUBATED</label>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="counter">
                        <strong data-to="65">65</strong>
                        <label>STARTUPS MENTORED</label>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="counter">
                        <strong data-to="515">515</strong>
                        <label>JOBS GENERATED</label>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="counter">
                        <strong data-to="2.78">2.78</strong>
                        <label>CR REVENUE GENERATED</label>
                    </div>
                </div>
            </div>
        </div>
    </div>




    {% include "./about_us.html" %}
    {% include "./contact_us.html" %}
</div>
{% endblock body %}